.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.700684;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.931641;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:22.400000px;}
._6{width:36.800000px;}
._9{width:56.000000px;}
._5{width:62.400000px;}
._1{width:176.000000px;}
._a{width:338.400000px;}
._8{width:348.000000px;}
._d{width:424.800000px;}
._e{width:496.800000px;}
._b{width:540.000000px;}
._c{width:578.400000px;}
._7{width:640.800000px;}
._3{width:669.600000px;}
._4{width:679.200000px;}
._f{width:796.000000px;}
._0{width:940.000000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:20.000000px;}
.fs3{font-size:24.000000px;}
.fs2{font-size:40.000000px;}
.fs1{font-size:52.000000px;}
.fs0{font-size:72.000000px;}
.y2{bottom:30.000000px;}
.y0{bottom:40.000000px;}
.y16{bottom:55.000000px;}
.y15{bottom:65.000000px;}
.y14{bottom:75.000000px;}
.y13{bottom:84.000000px;}
.y12{bottom:93.000000px;}
.y11{bottom:103.000000px;}
.y10{bottom:195.000000px;}
.yf{bottom:205.000000px;}
.ye{bottom:215.000000px;}
.yd{bottom:225.000000px;}
.yc{bottom:235.000000px;}
.yb{bottom:245.000000px;}
.y9{bottom:253.000000px;}
.ya{bottom:260.000000px;}
.y8{bottom:268.000000px;}
.y7{bottom:275.000000px;}
.y6{bottom:285.000000px;}
.y5{bottom:295.000000px;}
.y4{bottom:305.000000px;}
.y3{bottom:315.000000px;}
.y1{bottom:335.000000px;}
.h7{height:24.423828px;}
.h5{height:24.503906px;}
.h6{height:29.308594px;}
.h4{height:40.839844px;}
.h3{height:54.056641px;}
.h2{height:74.847656px;}
.h1{height:298.500000px;}
.h0{height:368.504000px;}
.w1{width:546.000000px;}
.w0{width:595.276000px;}
.x0{left:24.500000px;}
.x7{left:35.000000px;}
.x3{left:40.000000px;}
.x1{left:80.000000px;}
.x2{left:115.000000px;}
.x4{left:225.000000px;}
.x6{left:355.000000px;}
.x5{left:430.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:29.866667pt;}
._6{width:49.066667pt;}
._9{width:74.666667pt;}
._5{width:83.200000pt;}
._1{width:234.666667pt;}
._a{width:451.200000pt;}
._8{width:464.000000pt;}
._d{width:566.400000pt;}
._e{width:662.400000pt;}
._b{width:720.000000pt;}
._c{width:771.200000pt;}
._7{width:854.400000pt;}
._3{width:892.800000pt;}
._4{width:905.600000pt;}
._f{width:1061.333333pt;}
._0{width:1253.333333pt;}
.fs4{font-size:26.666667pt;}
.fs3{font-size:32.000000pt;}
.fs2{font-size:53.333333pt;}
.fs1{font-size:69.333333pt;}
.fs0{font-size:96.000000pt;}
.y2{bottom:40.000000pt;}
.y0{bottom:53.333333pt;}
.y16{bottom:73.333333pt;}
.y15{bottom:86.666667pt;}
.y14{bottom:100.000000pt;}
.y13{bottom:112.000000pt;}
.y12{bottom:124.000000pt;}
.y11{bottom:137.333333pt;}
.y10{bottom:260.000000pt;}
.yf{bottom:273.333333pt;}
.ye{bottom:286.666667pt;}
.yd{bottom:300.000000pt;}
.yc{bottom:313.333333pt;}
.yb{bottom:326.666667pt;}
.y9{bottom:337.333333pt;}
.ya{bottom:346.666667pt;}
.y8{bottom:357.333333pt;}
.y7{bottom:366.666667pt;}
.y6{bottom:380.000000pt;}
.y5{bottom:393.333333pt;}
.y4{bottom:406.666667pt;}
.y3{bottom:420.000000pt;}
.y1{bottom:446.666667pt;}
.h7{height:32.565104pt;}
.h5{height:32.671875pt;}
.h6{height:39.078125pt;}
.h4{height:54.453125pt;}
.h3{height:72.075521pt;}
.h2{height:99.796875pt;}
.h1{height:398.000000pt;}
.h0{height:491.338667pt;}
.w1{width:728.000000pt;}
.w0{width:793.701333pt;}
.x0{left:32.666667pt;}
.x7{left:46.666667pt;}
.x3{left:53.333333pt;}
.x1{left:106.666667pt;}
.x2{left:153.333333pt;}
.x4{left:300.000000pt;}
.x6{left:473.333333pt;}
.x5{left:573.333333pt;}
}
